{*
* 2017 Metasysco
*
* AVISO DE LICENCIA
*
* Este archivo fuente está sujeto a la Academic Free License (AFL 3.0)
* El cual está incluido en el archivo LICENCE.txt.
* También se encuentra disponible en línea, en la siguiente URL:
* http://opensource.org/licenses/afl-3.0.php
* Si por algún motivo usted no recibió una copia de esta licencia,
* o no pudo obtenerlo a través de la URL, por favor envíe un correo a
* info@metasysco.com, y en la brevedad de lo posible se le enviará una
* copia inmediata.
*
* ADVERTENCIA
*
* No edite, modifique o altére el código de este archivo, si usted
* está tiene planeado a futuro actualizar la plataforma Prestashop 
* a una nueva versión (Aplicable para la versión de prestashop 1.6.x.x).
* Si usted desea modificar este módulo para su necesidad, por favor
* contactenos por medio del correo electrónico development@metasysco.com
* o visite nuestra página web http://www.metasysco.com para mas información.
*
* @author Carlos Moreno <carlos.moreno@metasysco.com.co>
* @copyright 2017 Metasysco S.A.S.
* @license http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
* @version 1.2.0
*}

<form action="{$action}" id="payment-form">

  <p>
    <label>{l s='Card number' mod='mtspayuapi'}</label>
    <input type="text" size="20" autocomplete="off" name="card-number">
  </p>

  <p>
    <label>{l s='Firstname' mod='mtspayuapi'}</label>
    <input type="text" autocomplete="off" name="firstname">
  </p>

  <p>
    <label>{l s='Lastname' mod='mtspayuapi'}</label>
    <input type="text" autocomplete="off" name="lastname">
  </p>

  <p>
    <label>{l s='CVC' mod='mtspayuapi'}</label>
    <input type="text" size="4" autocomplete="off" name="card-cvc">
  </p>

  <p>
    <label>{l s='Expiration (MM/AAAA)' mod='mtspayuapi'}</label>
    <select id="month" name="card-expiry-month">
      {foreach from=$months item=month}
        <option value="{$month}">{$month}</option>
      {/foreach}
    </select>
    <span> / </span>
    <select id="year" name="card-expiry-year">
      {foreach from=$years item=year}
        <option value="{$year}">{$year}</option>
      {/foreach}
    </select>
  </p>
</form>