{*
* 2017 Metasysco
*
* AVISO DE LICENCIA
*
* Este archivo fuente está sujeto a la Academic Free License (AFL 3.0)
* El cual está incluido en el archivo LICENCE.txt.
* También se encuentra disponible en línea, en la siguiente URL:
* http://opensource.org/licenses/afl-3.0.php
* Si por algún motivo usted no recibió una copia de esta licencia,
* o no pudo obtenerlo a través de la URL, por favor envíe un correo a
* info@metasysco.com, y en la brevedad de lo posible se le enviará una
* copia inmediata.
*
* ADVERTENCIA
*
* No edite, modifique o altére el código de este archivo, si usted
* está tiene planeado a futuro actualizar la plataforma Prestashop 
* a una nueva versión (Aplicable para la versión de prestashop 1.6.x.x).
* Si usted desea modificar este módulo para su necesidad, por favor
* contactenos por medio del correo electrónico development@metasysco.com
* o visite nuestra página web http://www.metasysco.com para mas información.
*
* @author Carlos Moreno <carlos.moreno@metasysco.com.co>
* @copyright 2017 Metasysco S.A.S.
* @license http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
* @version 1.2.0
*}

<div class="panel">
	<div class="alert alert-info">
		<!-- <img src="" style="float:left; margin-right:15px;"> -->
		<p><strong>{l s='Este módulo le permite configurar una cuenta de PayU Latam a través de la API.' mod='mtspayuapi'}</strong></p>
		<p>{l s='Si el cliente elige este método de pago, todas las transacciones, excepto PSE, se mantendrán en la misma página o serán redireccionadas a la tienda en línea.' mod='mtspayuapi'}</p>
		<p>{l s='Los enlaces de apoyo en cualquier método de pago, son opcionales.' mod='mtspayuapi'}</p>
	</div>
</div>
